<div class="container roots">
    <%= render :partial=> 'form_search' %>
    <h2>Trees View</h2>
    <p><span><%= @roots.count %></span> roots<p>
    <%= render :partial=> 'form' %>
    <ul class="tree">
        <% @roots.each do |root| %>
        <li>
            <details>
                <summary>
                    <%= link_to root.text, root_path(root.id) %>
                </summary>
                <ul>
                    <% root.concepts.each do |concept| %>
                    <li>
                        <details>
                            <summary>
                                <%= link_to concept.text, concept_path(concept.id) %>
                            </summary>
                            <ul>
                                <% concept.linking_concepts.each do |lc| %>
                                <li>
                                    <%= link_to lc.text, concept_path(lc.id) %>
                                </li>
                                <% end %>
                            </ul>
                        </details>
                    </li>
                    <% end %>
                </ul>

            </details>
        </li>
        <% end %>
    </ul>
</div>

