<div class="container roots">
    <%= render :partial=> 'form_search' %>
    <hr>
    <%= render :partial=> 'form' %>
    <h2><%= pluralize(@roots.count, 'roots') %></h2>
    <ul class="tree">
        <% @roots.each do |root| %>
        <li>
            <details>
                <summary>
                    <%= link_to root.text.capitalize(), root_path(root.id) %>
                </summary>
                <ul>
                    <% root.concepts.each do |concept| %>
                    <li>
                        <details>
                            <summary>
                                <%= link_to concept.text.capitalize(), concept_path(concept.id) %>
                            </summary>
                            <ul>
                                <% concept.linking_concepts.each do |lc| %>
                                <li>
                                    <%= link_to lc.text.capitalize(), concept_path(lc.id) %>
                                </li>
                                <% end %>
                            </ul>
                        </details>
                    </li>
                    <% end %>
                </ul>

            </details>
        </li>
        <% end %>
    </ul>
</div>

