<div class="container families">
    <%= render :partial=> 'form' %>
    <h2><%= pluralize(@current_user.families.count, 'concept family') %></h2>
    <ul class="tree">
        <% @current_user.families.each do |family| %>
        <%# raise 'hell' %>
        <li>
            <details>
                <summary>
                    <%= link_to family.text.upcase() , family_path(family.id) %>
                    <span>(<%= pluralize(family.concepts.count, "concept") %>)</span>
                </summary>
                <ul>
                    <% family.concepts.each do |concept| %>
                    <li>
                        <details>
                            <summary>
                                <%= link_to concept.text.capitalize(), concept_path(concept.id) %>
                            </summary>
                            <ul>
                                <% concept.linking_concepts.each do |lc| %>
                                <li>
                                    <%= link_to lc.text.capitalize(), concept_path(lc.id) %>
                                </li>
                                <% end %>
                            </ul>
                        </details>
                    </li>
                    <% end %>
                </ul>

            </details>
        </li>
        <% end %>
    </ul>
</div>

