<div class="container family">
    <h2>Tree View </h2>
    <div class="controls">
        <%= link_to 'Edit', edit_family_path(@family.id) %>
        <%= link_to 'Delete', family_path(@family.id), :method=> 'delete' %>
    </div>
    <ul class="tree">
        <li>
            <details open>
                <summary>
                    <%= @family.text.capitalize() %>
                </summary>
                <ul>
                    <% @family.concepts.each do |concept| %>
                    <li>
                        <details open>
                            <summary>
                                <%= link_to concept.text.capitalize(), concept_path(concept.id) %>
                            </summary>
                            <ul>
                                <% concept.linking_concepts.each do |lc| %>
                                <li>
                                    <%= link_to lc.text.capitalize(), concept_path(lc.id) %>
                                </li>
                                <% end %>
                            </ul>
                        </details>
                    </li>
                    <% end %>
                </ul>
            </details>
        </li>
    </ul>

</div>
