<div class="container concept-show">
    <h2 class="text-capitalize"><%= @concept.text %></h2>
    <div class="controls">
        <%= link_to 'Edit', edit_concept_path(@concept.id) %>
        <%= link_to 'Delete', concept_path(@concept.id), :method=> 'delete' %>
    </div>

    <div class="concept-details">
        <% if @concept.image.present? %>
            <%= image_tag @concept.image %>
        <% end %>
        <div class="content">

            <p class="label">Category:</p>
            <p><%= @concept.category.name.capitalize() %></p>

            <p class="label">Meaning:</p>
            <p><%= @concept.meaning.capitalize() %></p>

            <% if @concept.example.present? %>
                <p class="label">Example:</p>
                <p><%= @concept.example.capitalize() %></p>
            <% end %>

            <% if @concept.source.present? %>
            <p class="label">Source:</p>
            <p><%= @concept.source.capitalize() %></p>
            <% end %>

            <% if @concept.translation.present? %>
            <p class="label">Translation:</p>
            <p><%= @concept.translation.capitalize() %></p>
            <% end %>

            <% if @concept.note.present? %>
                <p class="label">Note:</p>
                <p><%= @concept.note %></p>
            <% end %>


            <div class="related-roots">
                <p class="label">Related roots:</p>
                    <% if @concept.roots.present? %>
                    <ul>
                        <% @concept.roots.each do |root| %>
                        <li><%= link_to root.text.capitalize(), root_path(root.id) %></li>
                        <% end %>
                    </ul>
                        <% else %>
                        <p><i>No related roots added.</i></p>
                    <% end %>
            </div>

            <div class="linking-concepts">
                <p class="label">Linking concepts:</p>
                <% if @concept.linking_concepts.present? %>
                <ul>
                    <% @concept.linking_concepts.each do |lc| %>
                    <li><%= link_to lc.text.capitalize(), concept_path(lc.id) %></li>
                    <% end %>
                </ul>
                <% else %>
                    <p><i>No linking concepts added</i></p>
                <% end %>
            </div>
        </div>
    </div>
</div>
