<!DOCTYPE html>
<html>
  <head>
    <title>Vocabuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <div class="header">
        <%= link_to image_tag("honeycomb", alt: "Honeycomb", class: 'logo'), root_path %>
        <nav>
          <%= link_to 'Roots', roots_path %>
          <%= link_to 'Concepts', concepts_path %>
          <% if @current_user.present? %>
            <%= link_to 'Sign out' "#{ @current_user.email }", login_path, :method => 'delete' %>
            <% else %>
              <%= link_to 'Sign up', new_user_path %>
              <%= link_to 'Sign in', new_user_path %>
          <% end %>
      </nav>
      </div>

      <div>

      <%= yield %>
    </div>
  </body>
</html>
